.container {
  padding: 100px 64px;
  display: flex;
}

.button_load_more {
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  background-color: inherit;

  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--primary-color);
}
