.wrap_options {
  margin-right: 64px;
  min-width: 360px;
}

.subtitle_filter {
  font-weight: 500;
  color: #475467;
  margin-bottom: 14px;
}

.title_options {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.list_option {
  max-width: 360px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 10px;
}

.item_option {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  height: 95px;
  transform: scale(1);
  transition: transform 300ms ease;
  cursor: pointer;
}

.item_option:hover,
.item_option:focus {
  transform: scale(1.05);
}

.active_item {
  border-color: var(--accent-color);
}

.line {
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin-bottom: 24px;
}

.btn_option {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color);
  margin-top: 8px;
}
