@import-normalize;

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Inter-Medium.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Inter-SemiBold.ttf') format('ttf');
}

:root {
  /* COLORS */
  --primary-color: #101828;
  --accent-color: #e44848;
  /* FONTS */
  --primary-font: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

.list_item {
  text-align: center;
  font-weight: 500;
  line-height: 20px;
}

button {
  cursor: pointer;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list,
ul,
li {
  list-style-type: none;
}

ul {
  list-style: none;
}

.link,
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

input,
textarea,
button {
  font: inherit;
  margin: 0;
  padding: 0;
  border-color: transparent;
  width: 100%;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  gap: 64px;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
